@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
.main2-container{
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #262626;
}
.sort2-sketches{
    
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 columns with equal width */
    grid-template-rows: repeat(2, 1fr); /* 2 rows with equal height */
    grid-gap: 10px; /* Gap between grid items */
}
.sort2-sketches div{
    margin: auto;
}