@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    font-family: Poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*
 * BACKGROUND: #101010
 * EF BACKGROUND: 
 * EFFECTIVE GREEN: #3a4f50
 * TEMPLATE: #0ef6cc
 * */
.whole{
    height: 500vh;
}
.main-container{
    width: 100vw;
    height: 90vh;
    background-color: #262626;
    display: flex;
    padding: 50px 120px;
}

.main-left{
    width: 60%;
    border: 1px solid red;
}

.main-list{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.button-group{
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
}

.button-group button{
    transition: 350ms;
    color: #efefef;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    width: 200px;
    background-color: #ce1c1b;
    border: 2px solid #ce1c1b;
    border-radius: 8px;
    padding: 8px 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.45);
}

.button-group button:hover{
    background-color: #ce1b1b;  
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.95);
}

.button-group button:active{
    box-shadow: none;
}

.stack-outer{
    height: auto;
    background-color: #1b1b1b;
    padding: 30px 120px;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.45),
                inset 0px -4px 8px rgba(0, 0, 0, 0.45);
}

.stack-inner{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.45);
    border: 1px solid transparent;
    height: 10vh;
    background-color: #262626;
    border-radius: 50px;
}

.about-me{
    height: 100vh;
    background-color: #262626;
}
